@use "basqui" as theme;

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	gap: 1.5rem;
	color: theme.get(text);

	[data-theme="dark"] & {
		color: theme.get(text, dark);
	}

	@include theme.media(sm) {
		align-self: inherit;
		align-items: flex-start;

		&.center {
			align-items: center;
		}
	}

	h1 {
		margin: 1rem 0;
		font-size: 2rem;
		line-height: 2rem;
		font-variation-settings: "wght" 500;

		@include theme.media(xs) {
			font-size: 2.5rem;
			line-height: 2.5rem;
		}
		
		@include theme.media(sm) {
			font-size: 4rem;
			line-height: 4rem;
		}
	}

	h2 {
		margin: 0.5rem 0 1rem 0;
		font-size: 2rem;
		line-height: 2.5rem;
		font-variation-settings: "wght" 800;

		@include theme.media(sm) {
			font-size: 2.5rem;
			line-height: 3rem;
		}
	}

	h2 br {
		display: none;

		@include theme.media(md) {
			display: block;
		}
	}

	h3 {
		margin: 0.5rem 0;
		font-size: 1.75rem;
		line-height: 2rem;
		font-variation-settings: "wght" 800;

		@include theme.media(xl) {
			font-size: 2rem;
			line-height: 2.5rem;
		}
	}

	h6 {
		margin: 0;
		font-size: 1rem;
		line-height: 1rem;
		opacity: 50%;
		font-variation-settings: "wght" 500;
		color: theme.get(text-low);
		[data-theme="dark"] & {
			color: theme.get(text-low, dark);
		}
	}

	p {
		margin: 0;
		font-size: 1rem;
		line-height: 1.5rem;
		font-variation-settings: "wght" 500;
		color: theme.get(text-low);
		
		[data-theme="dark"] & {
			color: theme.get(text-low, dark);
		}
		
		b {
			font-variation-settings: "wght" 800;
		}

		@include theme.media(sm) {
			font-size: 1.125rem;
			line-height: 2rem;
		}
	}

	p + p {
		margin-top: 1rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include theme.media(sm) {
		align-items: flex-start;
		text-align: left;

		&.center {
			align-items: center;
			text-align: center;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 1rem;

	@include theme.media(sm) {
		align-items: flex-start;

		&.center {
			align-items: center;
		}
	}
}