@use 'basqui' as theme;

@keyframes animated-path {
	0% {
		stroke-dashoffset: 8;
	}
}

.root {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.diagram {
	width: 100%;
	height: auto;
}

.animated_edge {
	stroke: rgb(163, 173, 184); stroke-width: 1.5;
	animation: animated-path 1s linear infinite;
}

.show_code {
	align-self: center;
	
	@include theme.media(sm) {
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	
	@include theme.media(md) {
		top: 1.5rem;
		left: 1.5rem;
	}
}

.show_code_window {
	position: absolute;
}