@use "basqui" as theme;

.root {
	max-width: 86.5rem;
	width: 100%;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@include theme.media(xxs) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	@include theme.media(md) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}