@use "basqui" as theme;

.root {
	position: relative;
	padding-top: 8rem;
	color: theme.get(text);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.content {
	grid-column: span 12;

	@include theme.media(md) {
		grid-column: 3 / span 8;
	}
}

.intro_text {
	padding: 0;
	color: theme.get(text-low);

	@include theme.media(sm) {
		padding: 0 2.5rem;
	}
	
	@include theme.media(md) {
		padding: 0 6.5rem;
	}
}