@use "basqui" as theme;

.root {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: flex-start;
}

.text {
	align-self: stretch;
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-variation-settings: "wght" 500;
	color: theme.get(text-low);

	@include theme.media(md) {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	& b {
		color: theme.get(text);
		font-variation-settings: "wght" 700;
	}

	& svg {
		color: theme.get(text);
		display: block;
		flex-shrink: 0;
		width: 1rem;
		height: 1rem;
		position: relative;
		top: 0.125rem;
		margin-bottom: 0.25rem;

		@include theme.media(md) {
			display: inline;
			margin-bottom: 0;
			margin-right: 0.25rem;
		}
	}
}