@use "sass:color";
@use "_config/colors";

@forward "_config/breakpoints";
@forward "mixins";

$themes: (
	light: (
		background: colors.get(neutral, 95),
		surface: colors.get(neutral, 100),
		text: colors.get(purple, 10),
		text-low: colors.get(purple, 20),
		border: color.adjust(colors.get(purple, 10), $alpha: 0.08),
		primary: colors.get(purple, 50),
	),
	dark: (
		background: colors.get(neutral, 5),
		surface: colors.get(neutral, 10),
		text: colors.get(purple, 90),
		text-low: colors.get(purple, 80),
		border: color.adjust(colors.get(purple, 90), $alpha: 0.08),
		primary: colors.get(purple, 60),
	)
);

@function get($token, $theme: light) {
	@return map-get(map-get($themes, $theme), $token);
}
