@use "basqui" as theme;

.root {
	position: relative;
	padding: 8rem 0;
	color: theme.get(text);

	@include theme.media(md) {
		padding: 15.5rem 0;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.content {
	grid-column: span 12;

	// @include theme.media(md) {
	// 	grid-column: 2 / span 10;
	// }
}

.intro_text {
	padding: 0;
	color: theme.get(text-low);

	@include theme.media(sm) {
		padding: 0 2.5rem;
	}
	
	@include theme.media(md) {
		max-width: 50rem;
		padding: 0 6.5rem;
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: cover;
    background-position: 50% 50%;
	background-image: url("/images/home_hero.png");
	mask-image: radial-gradient(55.39% 50.37% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
}