@use "sass:color";
@use "basqui" as theme;

.root {
	--height: 3rem;
	@include theme.media(md) {
		--height: 4.5rem;
	}

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--height);
	display: flex;
	align-items: center;
	z-index: 100;
	transition: background 400ms ease 0s;
	background-color: linear-gradient(to bottom, theme.get(surface), color.adjust(theme.get(surface), $alpha: 0) var(--height));

	& nav {
		position: relative;
		z-index: 1;
		flex: 1;
		width: 100%;
		height: 100%;
		max-width: 86.5rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		
		@include theme.media(xxs) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		
		@include theme.media(md) {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}	
}

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav_button {
	height: 2.5rem;
	padding: 0 0.75rem;
	border-radius: 0.5rem;
	background-color: transparent;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.5rem;
	font-variation-settings: "wght" 600;
	color: theme.get(text-low);
	opacity: 0.5;
	user-select: none;
	cursor: pointer;
	
	@include theme.state-layer;
	
	&:hover {
		opacity: 1;
		color: theme.get(text);
	}

	[data-theme="dark"] & {
		color: theme.get(text-low, dark);
		&:hover {
			color: theme.get(text, dark);
		}
	}
}

.border {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	max-width: 86.5rem;
	width: 100%;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@include theme.media(xxs) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	@include theme.media(md) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	& > div {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.06);
		
		[data-theme="dark"] & {
			background-color: rgba(255, 255, 255, 0.06);
		}
	}
}

.backdrop {
	--height: 3rem;
	
	@include theme.media(md) {
		--height: 4.5rem;
	}
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		inset: -1px 0px -60%;
		pointer-events: none;
		user-select: none;
	}

	&::before {
		backdrop-filter: blur(20px);
		-webkit-mask-image: linear-gradient(to bottom, black var(--height), transparent);
		mask-image: linear-gradient(to bottom, black var(--height), transparent);

		@include theme.media(md) {
			-webkit-mask-image: linear-gradient(to bottom, black var(--height), transparent);
			mask-image: linear-gradient(to bottom, black var(--height), transparent);
		}
	}
}

.brand {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	user-select: none;

	@include theme.media(md) {
		gap: 1rem;
	}

	& svg {
		color: theme.get(primary);
		width: 28px;
		height: 28px;

		@include theme.media(md) {
			width: 40px;
			height: 40px;
		}
	}

	& h2 {
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: -0.5px;
		color: theme.get(text);
		margin: 0;

		@include theme.media(md) {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
	}

	[data-theme="dark"] & {
		& svg {
			color: theme.get(primary, dark);
		}
		
		& h2 {
			color: theme.get(text, dark);
		}
	}
}