@use "sass:color";
@use "basqui" as theme;

.nav_button {
	height: 2.5rem;
	padding: 0 0.75rem;
	border-radius: 0.5rem;
	background-color: transparent;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.5rem;
	font-variation-settings: "wght" 600;
	color: theme.get(text-low);
	opacity: 0.5;
	user-select: none;
	cursor: pointer;
	
	@include theme.state-layer;
	
	&:hover {
		opacity: 1;
		color: theme.get(text);
	}

	[data-theme="dark"] &  {
		color: theme.get(text-low, dark);
		&:hover {
			color: theme.get(text, dark);
		}
	}
}