@use "basqui" as theme;

$radius: 1.5rem;
$x: calc((var(--mouse-x) - var(--pos-x)) * 1px);
$y: calc((var(--mouse-y) - var(--pos-y)) * 1px);

.root {
	background-color: theme.get(border);
	user-select: none;
	contain: strict;
	transition: box-shadow 200ms ease-out, transform 200ms ease;

	&:hover {
		& .overlay {
			opacity: 0.4;
		}
	}

	&::before {
		content: "";
		pointer-events: none;
		user-select: none;
		position: absolute;
		inset: 0px;
		border-radius: inherit;
		opacity: var(--global-shimmer-alpha);
		transition: opacity 400ms ease;
		will-change: background, opacity;
		z-index: 1;
		background: radial-gradient(800px circle at $x $y, rgba(theme.get(text), 0.3), transparent 40%);
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 2;
		inset: 1px;
		border-radius: calc($radius - 1px);
		pointer-events: none;
		user-select: none;
		opacity: 0;
		will-change: background, opacity;
		contain: strict;
		background: radial-gradient(400px circle at $x $y, rgba(theme.get(text), 0.04), transparent);
		transition: opacity 400ms ease 0s;
	}

	&:hover::after {
		opacity: 0.4;
	}
}

.content {
	position: absolute;
	inset: 1px;
	background-color: theme.get(surface);
	border-radius: calc($radius - 1px);
	z-index: 1;
}
