@use "basqui" as theme;

.root {
	padding-top: 2.5rem;
	background-color: #0C091B;
	color: #EBEBFA;
	overflow: hidden;
	position: relative;
	z-index: 0;

	@include theme.media(sm) {
		padding-top: 5rem;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 3rem;
	margin-bottom: -2.5rem;
	z-index: 1;

	& button {
		align-self: center;
	}

	@include theme.media(md) {
		row-gap: 7.5rem;
	}
}

.title_wrapper {
	grid-column: span 12;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	h6, h2, p, button {
		color: theme.get(text, dark);
	}

	@include theme.media(md) {
		grid-column: 3 / span 8;
	}
}

.console_img {
	position: relative;
	border-radius: 0.75rem;
	background-color: #282150;
	height: 14rem;
	grid-column: span 12;
	overflow: hidden;
	z-index: 3;
	mask-image: linear-gradient(to bottom,
				hsl(0 0% 0% / 1),
				hsl(0 0% 0% / 1) 20%,
				hsl(0 0% 0% / 0));

	& img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	@include theme.media(sm) {
		border-radius: 1rem;
	}
	
	@include theme.media(md) {
		border-radius: 1.25rem;
		height: 27.5rem;
		grid-column: 3 / span 8;
	}
}

.blur_l {
	user-select: none;
	pointer-events: none;
	position: absolute;
	bottom: -75%;
	left: -20%;
	z-index: -1;

	@include theme.media(md, max) {
		width: 480px;
		height: 480px;
		bottom: -50%;
		left: -50%;
	}
}

.blur_r {
	user-select: none;
	pointer-events: none;
	position: absolute;
	bottom: -65%;
	right: -20%;
	z-index: -1;

	@include theme.media(md, max) {
		width: 560px;
		height: 560px;
		bottom: -50%;
		right: -50%;
	}
}

.stars {
	position: absolute;
	inset: 0;
	z-index: -2;

	&>div:nth-of-type(1) {
		bottom: 2%;
		left: 5%;
	}

	&>div:nth-of-type(2) {
		bottom: 15%;
		left: 17%;
	}

	&>div:nth-of-type(3) {
		bottom: 42%;
		left: 3%;
	}

	&>div:nth-of-type(4) {
		bottom: 62%;
		left: 10%;
	}

	&>div:nth-of-type(5) {
		bottom: 90%;
		left: 8%;
	}

	&>div:nth-of-type(6) {
		bottom: 65%;
		left: 36%;
	}

	&>div:nth-of-type(7) {
		bottom: 60%;
		left: 72%;
	}

	&>div:nth-of-type(8) {
		bottom: 54%;
		left: 84%;
	}

	&>div:nth-of-type(9) {
		bottom: 62%;
		left: 90%;
	}

	&>div:nth-of-type(10) {
		bottom: 76%;
		left: 94%;
	}

	&>div:nth-of-type(11) {
		bottom: 33%;
		left: 95%;
	}

	&>div:nth-of-type(12) {
		bottom: 14%;
		left: 92%;
	}
}

.star {
	user-select: none;
	pointer-events: none;
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: white;
	z-index: -2;
}