@use "basqui" as theme;

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	backdrop-filter: blur(0.5rem);
	background: none;
	color: theme.get(text);
	border-radius: 99px;
	padding-left: 0.75rem;
	padding-right: 0.5rem;
	height: 2rem;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: pointer;
	user-select: none;
	overflow: hidden;

	@include theme.state-layer(0.04);
}